<meta charset="utf-8">
{%- seo -%}
{%- feed_meta -%}

<!-- <title>Juliette Baby Shower</title>
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="babyshower"> -->

<meta property="og:title" content="Juliette Baby Shower" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://babyshowerjuliette.com/" />
<meta property="og:description" content="Juliette Baby Shower" />
<meta property="og:image" content="https://babyshowerjuliette.com/images/favicon/og.png" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@CentroRosarito" />
<meta name="twitter:creator" content="@CentroRosarito" />
<meta name="twitter:image" content="https://babyshowerjuliette.com/images/favicon/og.png" />
<meta name="twitter:title" content="Juliette Baby Shower" />
<meta name="twitter:description" content="Juliette Baby Shower" />
<link rel="apple-touch-icon" sizes="180x180" href="{{"images/favicon/apple-touch-icon.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{"images/favicon/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{"images/favicon/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{"images/favicon/site.webmanifest" | relative_url }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link href="{{"stylesheets/foundation.min.css" | relative_url }}" rel="stylesheet">
<link href="{{"stylesheets/main.css" | relative_url }}" rel="stylesheet">
<link href="{{"stylesheets/app.css" | relative_url }}" rel="stylesheet">
<script src="{{"javascripts/modernizr.foundation.js" | relative_url }}"></script>
<script src="https://code.jquery.com/jquery-1.7.1.js"></script>
<script src="{{"javascripts/blur/blur.min.js" | relative_url }}"></script>
<script>
    $(document).ready(function ($) {
        $('.blur').blurjs({
            source: 'body',
            radius: 7,
            overlay: 'rgba(255,255,255,0.4)',
            optClass: 'blurred',
            cache: false
        });
    });
</script>
<!-- Google fonts -->
<link href='https://fonts.googleapis.com/css?family=Ranchers' rel='stylesheet' type='text/css'>